


/* Configured and Edited by Malachi Makin */



/* ---------- MAIN ---------- */


#life{
	padding-bottom:5px;
}
#hammer{
	height:60px;
}

#startrac{
	padding-bottom:3px;
}
body {
	background:  #eeeeee;
	color: #404041;
	font-family: 'Muli', sans-serif;
	margin: 0;
}
h1 {
	color: #fff;
	font-size: 20px;
	margin: 0;
	padding: 15px 0;
}
h2 {
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 34px;
	margin: 10px 0;
	text-transform: uppercase;
}
h2 span {
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
}
h3 {
	font-size: 24px;
	text-transform: uppercase;
}
h4 {
    font-size: 18px;
    font-weight: normal;
}
address {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
}
a, a:visited, a:hover {
	color: #fff;
}
.fullpage-wrap {
	width: 100%
}
.container {
	background: #fff;
	margin: 0 auto;
	width: 1200px;

}


/* ---------- HEADER ---------- */


.header-top {
	background: #6a6b6d;
	color: #fff;
	border-bottom: 5px solid black;
	 height: 29px;
	    width: 1200px;
	    position:fixed;
	    top:0;
	    z-index:9999;

}
.top-bar {
	text-align: center;
	margin-top: -10px;
}
.title {
	display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
}
.address {
	display: inline-block;
}
.header-img {
	background: url("../images/1200380.jpg") repeat-x scroll center center rgba(0, 0, 0, 0);
	border-bottom: black 5px solid;
	width:1200px;
	height: 380px;
	margin-top: 34px;
}
.logo {
	margin: 0 auto;
	max-width: 401px;
	padding-top: 70px;
}

.logo img{
	height:300px;
	width:auto;
}



/* ---------- CONTENT ---------- */

.content {
	display: inline-block;
	margin-bottom: 25px;
	margin-top:30px;
}
.content-left {
	box-sizing: border-box;
	border-right: 3px solid #c83933;
	float: left;
	padding: 0 10px;
	text-align: center;
	width: 50%
}
.content-left > h3 {
    margin-bottom: 0;
}
.slash-style{
	font-size:39px;
	color:black;
	
}

	
	
	



.display {
	margin: 0 auto;

}
.display img{
    height: 45px;
    width: 165px;
	display:inline-block;
}

.content-right {
	box-sizing: border-box;
	float: right;
	padding: 0 10px;
	text-align: center;
	width: 50%
}
.content-right p {
	padding: 0 20px;
}

hr.smallline {
	background: #bfc0c1;
	border: 0;
	height: 2px;
	width: 350px;
}
hr.longline {
	background: #bfc0c1;
	border: 0;
	height: 2px;
	width: 400px;
}
.hours {
	font-weight: 100;
	font-size: 20px;
}

.uppercase {
	text-transform: uppercase;
}

p{
		text-transform: uppercase;
}

.contact-section{
	display: flex;
    background-color: #404042;
    border-radius: 35px;
    width:90%;
    margin:0 auto;
}

.contact-section a{
	color:#c83933;
	padding:2px;
	flex:1;
	    border-radius: 35px;
}

.contact-section a:hover{
	background-color:#c83b34;
	color:#686c6d;
}
.contact-section p{

	width:100%;
	display:flex;
}


.coming-soon img{
	width:35%;
	height:85px;
}
/* Pro-Fit Section */

.pro-fit{
	text-align:center;
}




/* ---------- FOOTER ---------- */

footer {
	background: #6a6b6d;
	color: #fff;
	text-align: center;
	width:100%;
	height: 85px;
	border-top:5px solid black;
}
footer address {
	font-size: 18px;
	padding: 8px 0 0 0;
}
footer p {
	font-size: 14px;
	margin: 0;
}

footer .uppercase {
	font-size: 18px;
}
.social {
display: flex;
    background-color: #404042;
    border-radius: 35px;
        width:90%;
    margin:0 auto;
}
.social h4{
	font-weight:600px;
	font-size:30px;
}
.social-icons {
	margin-right: 10px;
}
.social-icons-last {
	margin-right: 0;
}
.social a{
	color:#c83933;
	padding:2px;
	flex:1;
	    border-radius: 35px;
}

.social a:hover{
	background-color:#c83b34;
	color:#686c6d;
}

